<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row" style="margin-bottom: 30px">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            style="margin-right: 30px"
          >
            Save
          </button>
          <button class="btn btn-danger" type="button">Cancel</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" id="" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input type="text" name="imagePath" class="form-control" id="" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <img src="" alt="" class="img-responsive" />
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Description</label>
            <textarea
              name="description"
              id=""
              rows="3"
              class="form-control"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 10px;">
        <div class="col-md-8">
          <input type="text" class="form-control">
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control">
        </div>
        <div class="col-2">
          <button class="btn btn-danger">X</button>
        </div>
      </div>
    </form>
  </div>
</div>
