<div class="row">
  <div class="col-xs-12">
    <img
      src="{{ recipeItem.imagePath }}"
      alt=""
      srcset=""
      class="img-responsive"
      style="max-height: 250px"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs 12">
    <h1>{{ recipeItem.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="dropdown" appDropdown>
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Manage
      </button>
      <ul
        class="dropdown-menu"
        aria-labelledby="dropdownMenuButton1"
        #dropdownmenuid
      >
        <li>
          <a class="dropdown-item" style="cursor: pointer;" (click)="toShoppingList()"
            >To shopping list</a
          >
        </li>
        <li><a class="dropdown-item" style="cursor: pointer;" [routerLink]="['/recipes', id, 'edit']">Edit recipe</a></li>
        <li><a class="dropdown-item" style="cursor: pointer;">Delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">{{ recipeItem.description }}</div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ing of recipeItem.ingredients">
        {{ ing.name }} ({{ ing.quantity }})
      </li>
    </ul>
  </div>
</div>
