<li
 style="cursor: pointer;"
  class="list-group-item d-flex justify-content-between align-items-start"
  routerLink="/recipes/{{ id }}"
  routerLinkActive="active"
>
  <div class="ms-2 me-auto">
    <div class="fw-bold">{{ recipeItem.name }}</div>
    {{ recipeItem.description }}
  </div>
  <span class="bg-primary rounded-pill"
    ><img
      src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg?quality=90&webp=true&resize=600,545"
      alt="{{ recipeItem.name }}"
      class="img-responsive img-thumbnail"
      style="max-height: 50px"
  /></span>
</li>
