<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmitIngredient(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            name="name"
            ngModel
            id="name"
            class="form-control"
            required
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="quantity">Quantity</label>
          <input
            name="quantity"
            ngModel
            type="number"
            id="quantity"
            class="form-control"
            required
            pattern="^[1-9]+[0-9]*$"
          />
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            [disabled]="!f.valid"
            type="submit"
          >
            {{ editMode ? "Update" : "Add" }}</button
          >&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn btn-danger" type="button" (click)="onDelete()" [disabled]="!editMode">Delete</button
          >&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
